.text-red{
    color: red;
}
#wrapper{
    padding:10px 0px;
    margin:0 auto;
    width:300px;
    border: 1px;
    display: flex;
    height:500px;
}
#register{
    justify-content: center;
    align-items: center;
}
input{
    text-align: center;
}